{% block body %}
    <span
    title="lien connexion">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <span class="navbar-text">
                    Bonjour {{ app.user.username }}
                {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                {% elseif is_granted('ROLE_CLIENT') %} (role : Client ) {% endif %}
            </span>
            <a class="btn btn-outline-success" type="button" href="{{path('app_logout') }}">
                Se déconnecter
            </a>

        {% else %}
            <a class="btn btn-outline-success" type="button" href="{{path('app_login') }}">
                Se connecter
            </a>
        {% endif %}
    </span>
    <hr>
    <h1>affichage des rendez-vous</h1>
    {% for rdv in rdvs %}
        {{rdv.dateRdv|date('d/m/Y')}}
        {{ rdv.heure }}
        {{ rdv.typeService.libelle }}
        <form action=" {{ path('client_rdv_delete') }} " onclick="return confirm('Voulez-vous supprimer ce rendez-vous')" method="POST" style="display:inline">
            <input type="hidden" name="token" value="{{ csrf_token('client_rdv_delete') }}">
            <input type="hidden" name="id" value="{{ rdv.id }}">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Annulée</button>
        </form>
    <br>
    {% endfor %}
    <a href="{{ path('client_rdv_date') }}">Prendre rendez-vous</a>
{% endblock %}
