{% extends 'base/base.html.twig'%}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ path('forgotten_password') }}">
            <legend>Mot de passe oublié</legend>
            <div class="form-group">
                <label>email :</label>
                <input name="email"  type="text"  size="18"  value="{{erreurs.email|default('')}}" class="form-control">
                {% if erreurs is defined %}
                    <div style="color: red">{{erreurs}}</div>
                {% endif %}
            </div>

            <input type="hidden" name="token" value="{{ csrf_token('form_forgotten_password') }}">

            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
            <a href="/login" class="btn btn-primary ">Retour</a>
        </form>
    </div>
{% endblock %}