{% extends 'base/base.html.twig'%}
{% block body %}
    <a href="{{ path('admin_add_agenda') }}" class="btn btn-primary">ajouter un élément à l'agenda</a>
    <a href="{{ path('admin_show_produit') }}" class="btn btn-primary">voir tous les produits</a>
    <a href="{{ path('admin_show_agenda') }}" class="btn btn-primary">agenda</a>

    <br>
    <p>agenda</p>
    <table class="table">
        <caption>Agenda</caption>
        <thead class="thead-dark">
        <tr><th>id</th><th>libelle</th><th>description</th><th>date</th><th>horaire</th><th>option</th></tr>
        </thead>
        {% if agendas is not empty %}
            {% for agenda in agendas  %}
                <tr>
                    <td>{{agenda.id}}</td>
                    <td>{{agenda.libelle}}</td>
                    <td>{{agenda.description}}</td>
                    <td>{{ agenda.date|date('d/m/Y')}} </td>
                    <td>{{agenda.horaire}}</td>
                    <td>
                        <a href="{{ path('admin_edit_agenda', {id: agenda.id}) }}" class="btn btn-primary">modifier</a>
                        <form action="{{ path('admin_delete_agenda') }}" method="POST" style="display:inline">
                            <input type="hidden" name="token" value="{{ csrf_token('agenda_delete') }}">
                            <input type="hidden" name="id" value="{{ agenda.id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-warning">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="table-warning"><td>Pas de date</td></tr>
        {% endif %}
    </table>
    <p>liste des rendez vous</p>
    {% if rdvs is not defined %}
    <p>aucun rendez vous</p>
    {% elseif rdvs is null %}
    <p>aucun rendez vous</p>
    {% elseif rdvs is not empty %}
    <table class="table">
        <thead class="thead-dark">
        <tr><th>utilisateur</th><th>date</th><th>heure</th><th>valider</th></tr>
        </thead>
        {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.user.username }}</td><td>{{ rdv.dateRdv|date('d/m/Y')}}</td><td>{{ rdv.heure }}</td>
                {% if rdv.valider%}
                    <td>déjà valider</td>
                {% else %}<td>
                    <form action=" {{ path('admin_rdv_validation') }} " onclick="return confirm('Voulez-vous supprimer ce rendez-vous')" method="POST" style="display:inline">
                        <input type="hidden" name="token" value="{{ csrf_token('rdv_validation') }}">
                        <input type="hidden" name="id" value="{{ rdv.id }}">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                    <form action=" {{ path('rdv_delete') }} " onclick="return confirm('Voulez-vous supprimer ce rendez-vous')" method="POST" style="display:inline">
                        <input type="hidden" name="token" value="{{ csrf_token('rdv_delete') }}">
                        <input type="hidden" name="id" value="{{ rdv.id }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-primary">Refuser</button>
                    </form></td>
                {% endif %}
            </tr>
                {% endfor %}
            </table>
    {% endif %}
{% endblock %}