{% extends 'base/base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <div id="calendar"></div>
    </div>
    <div class="container-fluid">
        <div class="container-fluid">
            <a href="{{ path('admin_show_agenda') }}" class="btn btn-primary">Agenda</a>
            <a href="{{ path('admin_add_calendar') }}" class="btn btn-primary">ajouter un élément à l'agenda</a>
        </div>
    <br>
    <p>liste des rendez vous</p>
    {% if rdvs is not defined %}
    <p>aucun rendez vous</p>
    {% elseif rdvs is null %}
    <p>aucun rendez vous</p>
    {% elseif rdvs is not empty %}
    <table class="table">
        <thead class="thead-dark">
        <tr><th>utilisateur</th><th>date</th><th>heure</th><th>valider</th></tr>
        </thead>
        {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.user.username }}</td><td>{{ rdv.dateRdv|date('d/m/Y')}}</td><td>{{ rdv.heure }}</td>
                {% if rdv.valider%}
                    <td>déjà valider</td>
                {% else %}<td>
                    <form action=" {{ path('admin_rdv_validation') }} " onclick="return confirm('Voulez-vous valider ce rendez-vous')" method="POST" style="display:inline">
                        <input type="hidden" name="token" value="{{ csrf_token('rdv_validation') }}">
                        <input type="hidden" name="id" value="{{ rdv.id }}">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                    <form action=" {{ path('rdv_delete') }} " onclick="return confirm('Voulez-vous supprimer ce rendez-vous')" method="POST" style="display:inline">
                        <input type="hidden" name="token" value="{{ csrf_token('rdv_delete') }}">
                        <input type="hidden" name="id" value="{{ rdv.id }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-primary">Refuser</button>
                    </form></td>
                {% endif %}
            </tr>
                {% endfor %}
            </table>
    {% endif %}
    </div>
{% endblock %}
{% block javascripts %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js" integrity="sha256-rPPF6R+AH/Gilj2aC00ZAuB2EKmnEjXlEWx5MkAp7bw=" crossorigin="anonymous"></script>

<script>
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'timeGridWeek',
        locale: 'fr',
        timeZone:'Europe/Paris',
        slotMinTime:'08:00:00',
        slotMaxTime: '18:00:00',
        headerToolbar:{
            start:'dayGridMonth,timeGridWeek',
            end:'prev,next'
        },
        events:{{ data|raw }},
        eventClick:function(e){
            if(confirm('Voulez-vous supprimer l\'événement ?')){
                console.log(e.event.id)
                var donnees = e.event.id
                let url = '{{ path('admin_delete_calendar') }}'
                let xhr = new XMLHttpRequest()
                xhr.open("DELETE",url)
                xhr.send(JSON.stringify(donnees))
                e.el.remove()
            }
        }
    });
    calendar.render();

</script>
{% endblock %}
