{% extends 'base/base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <a href="{{ path('admin_add_typeProduit') }}" class="btn btn-primary">ajouter un type de produit</a>
        <a href="{{ path('admin_add_marque') }}" class="btn btn-primary">ajouter une marque</a>
        <a href="{{ path('admin_add_produit') }}" class="btn btn-primary">ajouter un produit</a>
        <a href="{{ path('admin_show_produit') }}" class="btn btn-primary">voir tous les produits</a>
        <form method="post" action="{{ path('admin_add_marque') }}">
            <legend>Ajouter une marque</legend>
            <div class="form-group">
                <label>libelle :</label>
                <input name="libelle"  type="text"  size="18" value="{{donnees.libelle|default('')}}" class="form-control">
                {% if erreurs.libelle is defined %}
                    <div style="color: red">{{ erreurs.libelle }}</div>
                {% endif %}
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('form_marque') }}">

            <button type="submit" class="btn btn-primary">{{ button|default('Valider') }}</button>
        </form>
    </div>
{% endblock %}
