{% extends 'base/base.html.twig'%}
{% block body %}
    <div class="container-fluid">
        <table class="table dataTable my-0" id="dataTable">
            <thead id="blueBar">
            <tr>
                <th><h3><span id="txtBlueBar">Gestion produits </span></h3></th>
            </tr>
            </thead>
        </table>
        <br>
        <div class="container-fluid">
            <a href="{{ path('admin_add_typeProduit') }}" class="btn btn-primary">ajouter un type de produit</a>
            <a href="{{ path('admin_add_marque') }}" class="btn btn-primary">ajouter une marque</a>
            <a href="{{ path('admin_add_produit') }}" class="btn btn-primary">ajouter un produit</a>
            <a href="{{ path('admin_show_produit') }}" class="btn btn-primary">voir tous les produits</a>
        <form  action="{{ path('admin_show_un_produit')}}" method="post">
            <input type="text" name="libelle" value="">
            <button type="submit" class="btn btn-outline-primary">cherher un produit spécifique</button>
        </form>

        <br>
        <table class="table">
        <caption>Recapitulatifs des produits</caption>
        <thead class="thead-dark">
        <tr><th>id</th><th>libelle</th><th>stock</th><th>gérer le stock</th><th>besoin</th><th>gérer besoin</th><th>type</th><th>marque</th><th>prix</th><th>option</th></tr>
        </thead>
        {% if produits is not empty %}
            {% for produit in produits  %}
            <tr>
                <td>{{produit.id}}</td>
                <td>{{produit.libelle}}</td>
                <td>{{ produit.stock }}</td>
                <td>
                    <form  action="{{ path('admin_increment_stock')}}" method="post">
                        <button type="submit" name="submitAction"  value="moins"  class="btn btn-primary">-</button>
                        <input type="hidden" name="id" value="{{ produit.id }}">
                        <input type="text" name="stock" value="">
                        <button type="submit" name="submitAction"  value="plus" class="btn btn-primary">+</button>
                        <button type="submit" name="submitAction"  value="égale" class="btn btn-primary">=</button>

                    </form>
                </td>

                <td>{{ produit.besoin }}</td>
                <td>
                    <form  action="{{ path('admin_increment_besoin')}}" method="post">
                        <button type="submit" name="submitAction"  value="moins"  class="btn btn-primary">-</button>
                        <input type="hidden" name="id" value="{{ produit.id }}">
                        <input type="text" name="besoin" value="">
                        <button type="submit" name="submitAction"  value="plus" class="btn btn-primary">+</button>
                        <button type="submit" name="submitAction"  value="égale" class="btn btn-primary">=</button>

                    </form>
                </td>

                <td>{{produit.typeProduit.libelle | default('pas de type')}}</td>
                <td>{{produit.marque.libelle | default('pas de marque')}}</td>

                <td>{{produit.prix}} €</td>
                <td>
                     <a href="{{ path('admin_edit_produit', {id: produit.id}) }}" class="btn btn-primary">modifier</a>
                    <form action="{{ path('admin_delete_produit') }}" method="POST" style="display:inline">
                        <input type="hidden" name="token" value="{{ csrf_token('produit_delete') }}">
                        <input type="hidden" name="id" value="{{ produit.id }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-warning">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        {% else %}
            <tr class="table-warning"><td>Pas de Produit</td></tr>
        {% endif %}
        </table>
        </div>
    </div>
{% endblock %}