{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | services {% endblock %}

{% block body %}
    <div class="container-fluid" id="services">
        <div class="container-fluid" id="Onglerie">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Onglerie :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        {% for carousel in carousels %}
                            {% if "Onglerie" in carousel.type %}
                                <h1 class="heading-stylized text-center">{{ carousel.name }}</h1>
                                <div class="text-center mt-2 mb-2">
                                    <a class="btn btn-primary" href="{{ path('admin_carousel_edit', {'id' : carousel.id, page:'services'}) }}">
                                        Éditer le carousel</a>
                                    <a class="btn btn-primary" href="{{ path('medias_add', {'id' : carousel.id, page:'services'}) }}">Ajouter un
                                        média</a>
                                </div>
                                {% if carousel.medias | length > 1 %}
                                    <div id="carousel-{{ carousel.id }}" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <li data-target="#carousel-{{ carousel.id }}" data-slide-to="{{ i }}"
                                                    {% if i == 0 %}class="active"{% endif %}></li>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                                        <img class="d-block w-100"
                                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                                             alt="{{ media.path }}">
                                                    {% else %}
                                                        <video controls>
                                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                                        </video>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <div class="carousel-caption d-none d-md-block text-center">
                                                            <div class="mt-2 mb-2">
                                                                <a class="btn btn-primary"
                                                                   href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer
                                                                    ce média</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <br>
                                                </div>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% elseif carousel.medias | length == 1 %}
                                    {% set media = carousel.medias.first %}
                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                        <img class="img-fluid mx-auto d-block rounded"
                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                             alt="{{ media.path }}">
                                    {% else %}
                                        <video controls>
                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                        </video>
                                    {% endif %}
                                    <div class="text-center mt-2 mb-2">
                                        <a class="btn btn-primary"
                                           href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer ce média</a>
                                    </div>
                                {% endif %}
                                <pre class="w-50 mx-auto text-justify bigger"
                                     style="font-size: 17px">{{ carousel.description }}</pre>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour la pose de gel mains et pieds. </p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour une manucure :<br/>
                            Pose de gel mains : 40€<br/>
                            Pose de gel pieds : 25€
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="Extension">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Extension de cils :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        {% for carousel in carousels %}
                            {% if "Extension de cils" in carousel.type %}
                                <h1 class="heading-stylized text-center">{{ carousel.name }}</h1>
                                <div class="text-center mt-2 mb-2">
                                    <a class="btn btn-primary" href="{{ path('admin_carousel_edit', {'id' : carousel.id, page:'services'}) }}">
                                        Éditer le carousel</a>
                                    <a class="btn btn-primary" href="{{ path('medias_add', {'id' : carousel.id, page:'services'}) }}">Ajouter un
                                        média</a>
                                </div>
                                {% if carousel.medias | length > 1 %}
                                    <div id="carousel-{{ carousel.id }}" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <li data-target="#carousel-{{ carousel.id }}" data-slide-to="{{ i }}"
                                                    {% if i == 0 %}class="active"{% endif %}></li>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                                        <img class="d-block w-100"
                                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                                             alt="{{ media.path }}">
                                                    {% else %}
                                                        <video controls>
                                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                                        </video>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <div class="carousel-caption d-none d-md-block text-center">
                                                            <div class="mt-2 mb-2">
                                                                <a class="btn btn-primary"
                                                                   href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer
                                                                    ce média</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <br>
                                                </div>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% elseif carousel.medias | length == 1 %}
                                    {% set media = carousel.medias.first %}
                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                        <img class="img-fluid mx-auto d-block rounded"
                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                             alt="{{ media.path }}">
                                    {% else %}
                                        <video controls>
                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                        </video>
                                    {% endif %}
                                    <div class="text-center mt-2 mb-2">
                                        <a class="btn btn-primary"
                                           href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer ce média</a>
                                    </div>
                                {% endif %}
                                <pre class="w-50 mx-auto text-justify bigger"
                                     style="font-size: 17px">{{ carousel.description }}</pre>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour une extension de cils.  </p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour une extension de cils :<br/>
                            1ère pose : 80 euros<br/>
                            Remplissage 3 semaines : 40 euros<br/>
                            Remplissage 4 semaines : 48 euros
                        </p>
                    </div>
            </div>
            </div>
        </div>
        <div class="container-fluid" id="Epilation">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Epilation sourcils et lèvre :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        {% for carousel in carousels %}
                            {% if "Epilation sourcils et lèvre" in carousel.type %}
                                <h1 class="heading-stylized text-center">{{ carousel.name }}</h1>
                                <div class="text-center mt-2 mb-2">
                                    <a class="btn btn-primary" href="{{ path('admin_carousel_edit', {'id' : carousel.id, page:'services'}) }}">
                                        Éditer le carousel</a>
                                    <a class="btn btn-primary" href="{{ path('medias_add', {'id' : carousel.id, page:'services'}) }}">Ajouter un
                                        média</a>
                                </div>
                                {% if carousel.medias | length > 1 %}
                                    <div id="carousel-{{ carousel.id }}" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <li data-target="#carousel-{{ carousel.id }}" data-slide-to="{{ i }}"
                                                    {% if i == 0 %}class="active"{% endif %}></li>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                                        <img class="d-block w-100"
                                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                                             alt="{{ media.path }}">
                                                    {% else %}
                                                        <video controls>
                                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                                        </video>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <div class="carousel-caption d-none d-md-block text-center">
                                                            <div class="mt-2 mb-2">
                                                                <a class="btn btn-primary"
                                                                   href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer
                                                                    ce média</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <br>
                                                </div>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% elseif carousel.medias | length == 1 %}
                                    {% set media = carousel.medias.first %}
                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                        <img class="img-fluid mx-auto d-block rounded"
                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                             alt="{{ media.path }}">
                                    {% else %}
                                        <video controls>
                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                        </video>
                                    {% endif %}
                                    <div class="text-center mt-2 mb-2">
                                        <a class="btn btn-primary"
                                           href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer ce média</a>
                                    </div>
                                {% endif %}
                                <pre class="w-50 mx-auto text-justify bigger"
                                     style="font-size: 17px">{{ carousel.description }}</pre>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour une épilation sourcils et lèvre.  </p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour une épilation sourcils et lèvre:<br/>
                            Epilation sourcils : 7 euros<br/>
                            Epilation lèvres : 7 euros<br/>
                            Epilation sourcils et lèvre : 12 euros<br/>
                            Teinture sourcils : 15 euros
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="Soins">
            <div class="text-center" id="services">
                <strong class="text-center">
                    <p id="titreContact">
                        Soins visage :
                    </p>
                </strong>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4" id="blockLeft">
                    <div class="container-fluid">
                        {% for carousel in carousels %}
                            {% if "Soins visage" in carousel.type %}
                                <h1 class="heading-stylized text-center">{{ carousel.name }}</h1>
                                <div class="text-center mt-2 mb-2">
                                    <a class="btn btn-primary" href="{{ path('admin_carousel_edit', {'id' : carousel.id, page:'services'}) }}">
                                        Éditer le carousel</a>
                                    <a class="btn btn-primary" href="{{ path('medias_add', {'id' : carousel.id, page:'services'}) }}">Ajouter un
                                        média</a>
                                </div>
                                {% if carousel.medias | length > 1 %}
                                    <div id="carousel-{{ carousel.id }}" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <li data-target="#carousel-{{ carousel.id }}" data-slide-to="{{ i }}"
                                                    {% if i == 0 %}class="active"{% endif %}></li>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% set i = 0 %}
                                            {% for media in carousel.medias %}
                                                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                                        <img class="d-block w-100"
                                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                                             alt="{{ media.path }}">
                                                    {% else %}
                                                        <video controls>
                                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                                        </video>
                                                    {% endif %}
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <div class="carousel-caption d-none d-md-block text-center">
                                                            <div class="mt-2 mb-2">
                                                                <a class="btn btn-primary"
                                                                   href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer
                                                                    ce média</a>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                    <br>
                                                </div>
                                                {% set i = i + 1 %}
                                            {% endfor %}
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-{{ carousel.id }}" role="button"
                                           data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                {% elseif carousel.medias | length == 1 %}
                                    {% set media = carousel.medias.first %}
                                    {% if media.type == "png" or media.type == "gif" or media.type == "jpeg" %}
                                        <img class="img-fluid mx-auto d-block rounded"
                                             src="{{ asset('uploads/services/' ~ media.path) }}"
                                             alt="{{ media.path }}">
                                    {% else %}
                                        <video controls>
                                            <source src="{{ asset('uploads/services/' ~ media.path) }}">
                                        </video>
                                    {% endif %}
                                    <div class="text-center mt-2 mb-2">
                                        <a class="btn btn-primary"
                                           href="{{ path('medias_delete', {'id': media.id, page:'services'}) }}">Supprimer ce média</a>
                                    </div>
                                {% endif %}
                                <pre class="w-50 mx-auto text-justify bigger"
                                     style="font-size: 17px">{{ carousel.description }}</pre>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6" id="blockRight">
                    <div class="container-fluid">
                        <p>Plusieurs photos de mes réalisations pour des soins du visage.</p>
                    </div>
                    <div class="container-fluid">
                        <p>Mes tarifs pour un soin visage :<br/>
                            Anti-âge : Faire dans l’idéal une séance tout les mois 40 euros la séance forfais de 4
                            séances 110 euros au lieu de 160 euros.
                            <br/>
                            Visage : nettoyage de la peau 25 euros.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}