{% extends 'base/base.html.twig' %}

{% block title %} NailStudio | réservation {% endblock %}

{% block body %}
    {% if app.user is defined and is_granted('ROLE_CLIENT') %}
        <p style="color: gray">Si vous avez pris rendez-vous mais que celui-ci ne s'affiche pas, il a surement été refusé.</p>
        <div class="container-fluid">
            <p class="text-center">
                <p>liste des rendez vous</p>
            {% if rdvs is not defined %}
                <p>aucun rendez vous</p>
            {% elseif rdvs is null %}
                <p>aucun rendez vous</p>
            {% elseif rdvs is not empty %}
            <table class="table">
                <thead class="thead-dark">
                <tr><th>date</th><th>heure</th><th>valider</th></tr>
                </thead>
                    {% for rdv in rdvs %}
                        <tr>
                        <td>{{ rdv.dateRdv|date('d/m/Y')}}</td><td>{{ rdv.heure }} </td>
                        {% if rdv.valider %}
                           <td style="color: green"> valider</td>
                        {% else %}
                            <td style="color: gray"> en cours de validation</td>
                        {% endif %}
                        </tr>
                    {% endfor %}
            </table>
                {% endif %}
                <p><a href="/PrendreRendezVous" class="btn btn-primary">Prendre un rendez vous</a></p>
                <div class="container-fluid">
                    <p><a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if app.user is defined and is_granted('ROLE_ADMIN') %}
        <div class="container-fluid">
            <div class="text-center">
                <p>liste des rendez vous</p>

                {% if rdvs is not defined %}
                    <p>aucun rendez vous</p>
                {% elseif rdvs is null %}
                    <p>aucun rendez vous</p>
                {% elseif rdvs is not empty %}
                    <table class="table">
                        <thead class="thead-dark">
                        <tr><th>utilisateur</th><th>date</th><th>heure</th><th>valider</th></tr>
                        </thead>
                    {% for rdv in rdvs %}
                        <tr>
                    <td>{{ rdv.user.id }}</td><td>{{ rdv.dateRdv|date('d/m/Y')}}</td><td>{{ rdv.heure }}</td>
                        {% if rdv.valider%}
                    <td>déjà valider</td>
                        {% else %}<td>
                            <form action=" {{ path('admin_rdv_validation') }} " onclick="return confirm('Voulez-vous supprimer ce rendez-vous')" method="POST" style="display:inline">
                            <input type="hidden" name="token" value="{{ csrf_token('rdv_validation') }}">
                            <input type="hidden" name="id" value="{{ rdv.id }}">
                                <button type="submit" class="btn btn-primary">Valider</button>
                            </form>
                            <form action=" {{ path('rdv_delete') }} " onclick="return confirm('Voulez-vous supprimer ce rendez-vous')" method="POST" style="display:inline">
                                <input type="hidden" name="token" value="{{ csrf_token('rdv_delete') }}">
                                <input type="hidden" name="id" value="{{ rdv.id }}">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-primary">Refuser</button>
                            </form></td>
                        {% endif %}
                        </tr>

                    {% endfor %}
                </table>
                {% endif %}
                <div class="container-fluid">
                    <p><a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    {% if app.user is defined and not is_granted('ROLE_CLIENT') or not is_granted('ROLE_CLIENT')  %}
        <div class="container-fluid">
            <p>Afin d'accéder aux reservations veuillez vous connecter</p>
            <p><a href="/login">Se connecter</a></p>
        </div>
    {% endif %}
{% endblock %}